<style>
  a {
      margin: 10px;
      font-size: 40px;
      color: blue
  }
  a:hover {
      border: 4px dashed darkgrey;
  }
  h3 {
        text-align: center;
  }
</style>
<section class="menu">
  <h1>Here you can view system info.</h1>
  <ul>
    <li>
      <a href="/memory">Memory</a>
    </li>
    <li>
      <a href="/disk">Hard Drive Info</a>
    </li>
  </ul>
</section>